* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: "Oswald", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  /*
    TODO: vh viewport background-size: cover;linear-gradient
  */
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  word-spacing: 4px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 5px 30px 8px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #f39c12;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #3498db;
  color: #f39c12;
}

.btn-full:hover,
.btn-full:active {
  background-color: #3498db;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #f39c12;
  background-color: #f39c12;
  color: #fff;
}
